# Build results
/bin/
/obj/
/out/
/Debug/
/Release/

# Rider e VS
.idea/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Arquivos temporários
*.tmp
*.log
*.cache
*.pdb
*.dbmdl
*.bak

# Arquivos gerados
*.dll
*.exe
*.mdb
*.xml
*.json.user
*.nuget.dgspec.json
*.nuget.g.props
*.nuget.g.targets

# Diretórios de build incremental
/RestBiblioteca/bin/
/RestBiblioteca/obj/

# Coverage, publish, etc.
coverage/
TestResults/
publish/

# Outros
*.swp
*.DS_Store
Thumbs.db
